
.cell:hover {
    cursor: default;

}
.cell_content {
    padding: .8rem;
    margin: 0 .3rem;
    text-align: center;
    vertical-align: middle;
    color: #00457d;
    font-size: 90%;
    border-radius: 50%;
}
.cell_content.hoverable:hover, .selected {
    background-color: #3fd3eb;
    color: #fff;
}
.has_todos {
    color: #942424 !important;
}
